# chargement des fichiers csv en noms de variables

In [1]:
import pandas as pd


meteo= pd.read_csv("../../csv_modélisé/all_meteo.csv")
objets= pd.read_csv("../../csv_modélisé/objets_trouves.csv")
frequentation= pd.read_csv("../../csv_modélisé/frequentation.csv")

In [2]:
frequentation['gare'] = frequentation['gare'].replace(
    {"Paris Bercy Bourgogne - Pays d'Auvergne": "Paris Bercy"}
)

In [3]:
print(objets.columns)

Index(['date', 'type', 'gare'], dtype='object')

In [4]:
print(frequentation.columns)

Index(['Unnamed: 0', 'gare', 'frequent_2021', 'frequent_2022',
       'frequent_2023'],
      dtype='object')

In [5]:
objets_bercy1 = frequentation[frequentation['gare'].str.contains("Bercy", na=False)]

# Afficher les résultats
print(objets_bercy1)

   Unnamed: 0         gare  frequent_2021  frequent_2022  frequent_2023
6           6  Paris Bercy        6821651        9710201       10340177

In [6]:
objets_bercy = objets[objets['gare'].str.contains("Bercy", na=False)]

# Afficher les résultats
print(objets_bercy)

                            date  \
45514  2021-01-03T20:31:25+00:00
45515  2021-01-03T21:37:44+00:00
45516  2021-01-03T21:53:56+00:00
45517  2021-01-04T18:34:50+00:00
45518  2021-01-04T18:45:50+00:00
...                          ...
46322  2023-12-24T08:04:16+00:00
46323  2023-12-24T20:36:50+00:00
46324  2023-12-25T06:44:35+00:00
46325  2023-12-27T09:42:28+00:00
46326  2023-12-31T07:14:15+00:00

                                                    type         gare
45514  Appareils électroniques, informatiques, appare...  Paris Bercy
45515                Bagagerie: sacs, valises, cartables  Paris Bercy
45516                Bagagerie: sacs, valises, cartables  Paris Bercy
45517                Bagagerie: sacs, valises, cartables  Paris Bercy
45518                Bagagerie: sacs, valises, cartables  Paris Bercy
...                                                  ...          ...
46322                Bagagerie: sacs, valises, cartables  Paris Bercy
46323                Bagagerie: sacs, valises, cartables  Paris Bercy
46324                Bagagerie: sacs, valises, cartables  Paris Bercy
46325       Porte-monnaie / portefeuille, argent, titres  Paris Bercy
46326  Appareils électroniques, informatiques, appare...  Paris Bercy

[813 rows x 3 columns]

# Enlever éventuels doublons dans les données

In [7]:
meteo=meteo.drop_duplicates()
frequentation=frequentation.drop_duplicates()
objets=objets.drop_duplicates()

# Filtrage des champs d'intérêt

In [8]:
meteo=meteo.loc[:, ['DATE',  'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR']]

In [9]:
objets.head()

,date,type,gare
0,2021-01-01T11:44:31+00:00,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
1,2021-01-02T08:22:06+00:00,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
2,2021-01-02T09:39:44+00:00,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
3,2021-01-02T13:19:21+00:00,"Porte-monnaie / portefeuille, argent, titres",Paris Gare de Lyon
4,2021-01-02T14:41:55+00:00,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon

# Arrondir les valeures des données météo

In [10]:
import pandas as pd

# Exemple de DataFrame original
# meteo = pd.DataFrame(...)

# Arrondir les valeurs des colonnes spécifiques
columns_to_round = [ 'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR']
meteo[columns_to_round] = meteo[columns_to_round].round().astype(int)

# Crée un nouveau DataFrame avec les colonnes spécifiques et les données arrondies
new_meteo = meteo[['DATE'] + columns_to_round]

# Afficher les premières lignes du nouveau DataFrame pour vérification
meteo = new_meteo[['DATE', 'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR']]
print(meteo.head(2000))

            DATE  CLOUDCOVER_AVG_PERCENT  SUNHOUR
0     2021-01-01                      83        3
1     2021-01-02                      55        9
2     2021-01-03                      71        9
3     2021-01-04                     100        3
4     2021-01-05                      98        3
...          ...                     ...      ...
1090  2023-12-27                      42        7
1091  2023-12-28                      61        5
1092  2023-12-29                      86        1
1093  2023-12-30                      55        5
1094  2023-12-31                      81        3

[1095 rows x 3 columns]

# garder 10 premiers caractéres des lignes date

In [11]:
objets['date'] = objets['date'].str[:10]
# va permettre d'avoir un format de date commun à la table météo
objets.head(5)

,date,type,gare
0,2021-01-01,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
1,2021-01-02,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
2,2021-01-02,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon
3,2021-01-02,"Porte-monnaie / portefeuille, argent, titres",Paris Gare de Lyon
4,2021-01-02,"Bagagerie: sacs, valises, cartables",Paris Gare de Lyon

# mappage des valeures du champ type pour faciliter analyse

In [12]:
mappage = {
    'Bagagerie: sacs, valises, cartables': 'bagages',
    'Porte-monnaie / portefeuille, argent, titres': 'clé',
    'Appareils électroniques, informatiques, appareils photo': 'electronique',
    'Articles médicaux': 'médical',
    'Pièces d identités et papiers personnels': 'papiers',
    'Clés, porte-clés, badge magnétique': 'clé',
    'Optique': 'optique',
    'Divers': 'divers',
    'Articles d enfants, de puériculture': 'articles enfants',
    'Vêtements, chaussures': 'vetements',
    'Vélos, trottinettes, accessoires 2 roues': 'velo/trottinette',
    'Instruments de musique': 'article musique',
    'Bijoux, montres': 'bijoux/montres',
    'Articles de sport, loisirs, camping': 'sport/loisirs',
    'Livres, articles de papéterie': 'livres',
    'Parapluies': 'parapluies'
}

# Appliquer le mappage à la colonne 'type'
objets['type'] = objets['type'].map(mappage)

# Afficher les premières lignes du DataFrame mis à jour pour vérification
print(objets.head())

         date     type                gare
0  2021-01-01  bagages  Paris Gare de Lyon
1  2021-01-02  bagages  Paris Gare de Lyon
2  2021-01-02  bagages  Paris Gare de Lyon
3  2021-01-02      clé  Paris Gare de Lyon
4  2021-01-02  bagages  Paris Gare de Lyon

# actualisation des fichiers csv

In [13]:
valeurs_uniques = objets['type'].unique()

# Afficher les valeurs uniques
print("Valeurs uniques dans la colonne 'type' :")
print(valeurs_uniques)

Valeurs uniques dans la colonne 'type' :
['bagages' 'clé' 'electronique' 'médical' 'papiers' 'optique' 'divers'
 'articles enfants' 'vetements' 'velo/trottinette' 'article musique'
 'bijoux/montres' 'sport/loisirs' 'livres' 'parapluies']

In [14]:
meteo.to_csv('../../csv_modélisé/all_meteo.csv', index=False)
objets.to_csv('../../csv_modélisé/objets_trouves_bis.csv', index=False)
frequentation.to_csv('../../csv_modélisé/frequentation.csv', index=False)

In [15]:
meteo.columns

Index(['DATE', 'CLOUDCOVER_AVG_PERCENT', 'SUNHOUR'], dtype='object')

# création de bdd sqlite

In [16]:
import os
import sqlite3

# Obtenir le répertoire du script actuel
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données (dans le répertoire actuel)
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere.db')

# Connexion à la base de données SQLite
connexion = sqlite3.connect(chemin_bdd)
curseur = connexion.cursor()

# Supprimer les tables existantes si elles existent
curseur.execute("DROP TABLE IF EXISTS frequentation")
curseur.execute("DROP TABLE IF EXISTS lumiere")
curseur.execute("DROP TABLE IF EXISTS objets_trouves")

# Créer la table 'frequentation' avec nom_gare comme clé primaire
curseur.execute("""
    CREATE TABLE frequentation(
        nom_gare TEXT PRIMARY KEY NOT NULL,
        frequent_2021 INTEGER,
        frequent_2022 INTEGER,
        frequent_2023 INTEGER
    )
""")

# Créer la table 'lumiere'
curseur.execute("""
    CREATE TABLE lumiere(
        date DATE NOT NULL PRIMARY KEY,
        cloud INTEGER,
        sun INTEGER,
        annee INTEGER 
    )
""")

# Créer la table 'objets_trouves' avec une clé étrangère pour la gare
curseur.execute("""
    CREATE TABLE objets_trouves(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date DATE NOT NULL,
        type TEXT,
        nom_gare TEXT NOT NULL,
        poids_pondere FLOAT, 
        FOREIGN KEY (date) REFERENCES lumiere(date),
        FOREIGN KEY (nom_gare) REFERENCES frequentation(nom_gare)
    )
""")

# Fermer la connexion
connexion.commit()
connexion.close()

print(f"Base de données créée dans : {chemin_bdd}")

Base de données créée dans : /home/utilisateur/Documents/dernier_bdd/certification_finale_bdd_E1/lancement_scripts_projet/nettoyage_des_donnees/bdd_pondere.db

In [17]:
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données (dans le répertoire actuel)
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_luminosite.db')

# Connexion à la base de données SQLite
connexion = sqlite3.connect(chemin_bdd)
curseur = connexion.cursor()

# Supprimer les tables existantes si elles existent
curseur.execute("DROP TABLE IF EXISTS frequentation")
curseur.execute("DROP TABLE IF EXISTS lumiere")
curseur.execute("DROP TABLE IF EXISTS objets_trouves")

# Créer la table 'frequentation' avec nom_gare comme clé primaire
curseur.execute("""
    CREATE TABLE frequentation(
        nom_gare TEXT PRIMARY KEY NOT NULL,
        frequent_2021 INTEGER,
        frequent_2022 INTEGER,
        frequent_2023 INTEGER
    )
""")

# Créer la table 'lumiere'
curseur.execute("""
    CREATE TABLE lumiere(
        date TEXT NOT NULL PRIMARY KEY,
        cloud INTEGER,
        sun INTEGER,
        annee INTEGER 
    )
""")

# Créer la table 'objets_trouves' avec une clé étrangère pour la gare
curseur.execute("""
    CREATE TABLE objets_trouves(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        date DATE NOT NULL,
        type TEXT,
        nom_gare TEXT NOT NULL,
        poids_pondere FLOAT,
        FOREIGN KEY (date) REFERENCES lumiere(date),
        FOREIGN KEY (nom_gare) REFERENCES frequentation(nom_gare)
    )
""")

# Fermer la connexion
connexion.commit()
connexion.close()

print(f"Base de données créée dans : {chemin_bdd}")

Base de données créée dans : /home/utilisateur/Documents/dernier_bdd/certification_finale_bdd_E1/lancement_scripts_projet/nettoyage_des_donnees/bdd_luminosite.db

# import des données dans base de données sqlite

In [18]:
import sqlite3

# Connexion à la première base de données
conn_luminosite = sqlite3.connect('bdd_luminosite.db')
curseur_luminosite = conn_luminosite.cursor()

# Connexion à la seconde base de données
conn_pondere = sqlite3.connect('bdd_pondere.db')
curseur_pondere = conn_pondere.cursor()



# Créer les tables dans la base de données bdd_pondere.db


# Insérer les données dans la table 'lumiere'
for index, row in meteo.iterrows():
    curseur_luminosite.execute("INSERT INTO lumiere (date, cloud, sun) VALUES (?, ?, ?)", 
                               (row['DATE'], row['CLOUDCOVER_AVG_PERCENT'], row['SUNHOUR']))
    curseur_pondere.execute("INSERT INTO lumiere (date, cloud, sun) VALUES (?, ?, ?)", 
                            (row['DATE'], row['CLOUDCOVER_AVG_PERCENT'], row['SUNHOUR']))

# Insérer les données dans la table 'frequentation'
for index, row in frequentation.iterrows():
    curseur_luminosite.execute("INSERT INTO frequentation (nom_gare, frequent_2021, frequent_2022, frequent_2023) VALUES (?, ?, ?, ?)", 
                               (row['gare'], row['frequent_2021'], row['frequent_2022'], row['frequent_2023']))
    curseur_pondere.execute("INSERT INTO frequentation (nom_gare, frequent_2021, frequent_2022, frequent_2023) VALUES (?, ?, ?, ?)", 
                            (row['gare'], row['frequent_2021'], row['frequent_2022'], row['frequent_2023']))

# Insérer les données dans la table 'objets_trouves'
for index, row in objets.iterrows():
    curseur_luminosite.execute("INSERT INTO objets_trouves (date, type, nom_gare) VALUES (?, ?, ?)", 
                               (row['date'], row['type'], row['gare']))
    curseur_pondere.execute("INSERT INTO objets_trouves (date, type, nom_gare) VALUES (?, ?, ?)", 
                            (row['date'], row['type'], row['gare']))

# Valider toutes les transactions en une fois
conn_luminosite.commit()
conn_pondere.commit()

# Fermer les connexions
conn_luminosite.close()
conn_pondere.close()

print("Données insérées avec succès dans les deux bases de données.")

Données insérées avec succès dans les deux bases de données.

# création d'un dataframe, reprend les données de la table objets trouvés, calcul et ajout de la valeur du poids pondéré à ce datafarame

In [19]:
import os
import sqlite3
import pandas as pd

# Obtenir le répertoire du script actuel
repertoire_script = os.getcwd()

# Définir les chemins pour les bases de données
chemin_bdd_source = os.path.join(repertoire_script, 'bdd_luminosite.db')

# Connexion à la base de données source
conn_source = sqlite3.connect(chemin_bdd_source)

# Charger les données de la table 'frequentation' dans un DataFrame
df_frequentation = pd.read_sql_query("SELECT * FROM frequentation", conn_source)

# Charger les données de la table 'objets_trouves' dans un DataFrame
df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn_source)

# Fermer la connexion après la lecture
conn_source.close()

# Étape 1 : Convertir la colonne 'date' en datetime et ajouter une colonne 'année'
df_objets['date'] = pd.to_datetime(df_objets['date'])  # Convertir en datetime
df_objets['année'] = df_objets['date'].dt.year  # Extraire l'année

# Étape 2 : Calculer la fréquentation minimale de 2021
frequent_min_2021 = df_frequentation['frequent_2021'].min()

# Étape 3 et 4 : Remplir la colonne 'poids_pondere'
df_objets['poids_pondere'] = 0.0  # Initialisation à 0

# Calculer le poids pondéré pour chaque objet trouvé
for index, row in df_objets.iterrows():
    annee = row['année']  # Récupérer l'année
    nom_gare = row['nom_gare']  # Récupérer le nom de la gare

    # Sélectionner la valeur de fréquentation pour l'année et la gare correspondantes
    variable_a = df_frequentation.loc[df_frequentation['nom_gare'] == nom_gare, f'frequent_{annee}'].values

    if variable_a.size > 0:  # Vérifier si la valeur existe
        variable_a = variable_a[0]  # Prendre la première valeur

        # Calculer le poids pondéré
        df_objets.at[index, 'poids_pondere'] = frequent_min_2021 / variable_a

# Afficher les résultats
print(df_objets[['date', 'type', 'nom_gare', 'année', 'poids_pondere']])

            date          type            nom_gare  année  poids_pondere
0     2021-01-01       bagages  Paris Gare de Lyon   2021       0.036069
1     2021-01-02       bagages  Paris Gare de Lyon   2021       0.036069
2     2021-01-02       bagages  Paris Gare de Lyon   2021       0.036069
3     2021-01-02           clé  Paris Gare de Lyon   2021       0.036069
4     2021-01-02       bagages  Paris Gare de Lyon   2021       0.036069
...          ...           ...                 ...    ...            ...
46321 2023-12-24       bagages         Paris Bercy   2023       0.659723
46322 2023-12-24       bagages         Paris Bercy   2023       0.659723
46323 2023-12-25       bagages         Paris Bercy   2023       0.659723
46324 2023-12-27           clé         Paris Bercy   2023       0.659723
46325 2023-12-31  electronique         Paris Bercy   2023       0.659723

[46326 rows x 5 columns]

# insertion des données avec le poids pondéré depuis le dataframe créé à la base de données sqlite

In [20]:
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere.db')

# Connexion à la base de données SQLite
connexion = sqlite3.connect(chemin_bdd)
curseur = connexion.cursor()

# Supprimer les anciennes données de la table objets_trouves (facultatif)
curseur.execute("DELETE FROM objets_trouves")

# Insérer les nouvelles données du DataFrame dans la table objets_trouves
for index, row in df_objets.iterrows():
    curseur.execute("""
        INSERT INTO objets_trouves (date, type, nom_gare, poids_pondere)
        VALUES (?, ?, ?, ?)
    """, (row['date'].strftime('%Y-%m-%d'), row['type'], row['nom_gare'], row['poids_pondere']))

# Valider les changements et fermer la connexion
connexion.commit()
connexion.close()

print("Les données de la table objets_trouves ont été remplacées avec succès.")

Les données de la table objets_trouves ont été remplacées avec succès.

# visuel de la base donnée sqlite "bdd_pondere"

In [21]:
import sqlite3
import os

# Obtenir le répertoire actuel
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere.db')

# Connexion à la base de données SQLite
connexion = sqlite3.connect(chemin_bdd)
curseur = connexion.cursor()

# Afficher les premières lignes de la table objets_trouves
print("Premières lignes de la table 'objets_trouves':")
curseur.execute("SELECT * FROM objets_trouves LIMIT 5")
rows = curseur.fetchall()
for row in rows:
    print(row)

# Afficher les types des colonnes
print("\nTypes des colonnes de la table 'objets_trouves':")
curseur.execute("PRAGMA table_info(objets_trouves)")
columns = curseur.fetchall()
for column in columns:
    print(f"Colonne: {column[1]}, Type: {column[2]}")

# Fermer la connexion
connexion.close()

Premières lignes de la table 'objets_trouves':
(46327, '2021-01-01', 'bagages', 'Paris Gare de Lyon', 0.036069450579702)
(46328, '2021-01-02', 'bagages', 'Paris Gare de Lyon', 0.036069450579702)
(46329, '2021-01-02', 'bagages', 'Paris Gare de Lyon', 0.036069450579702)
(46330, '2021-01-02', 'clé', 'Paris Gare de Lyon', 0.036069450579702)
(46331, '2021-01-02', 'bagages', 'Paris Gare de Lyon', 0.036069450579702)

Types des colonnes de la table 'objets_trouves':
Colonne: id, Type: INTEGER
Colonne: date, Type: DATE
Colonne: type, Type: TEXT
Colonne: nom_gare, Type: TEXT
Colonne: poids_pondere, Type: FLOAT

# création de la base de données azure

In [22]:

import pyodbc


conn_str = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER=rg-devries-serveur.database.windows.net;DATABASE=luminosite-devries;UID=manu21;PWD=*Servor1'
conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()





conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()

cursor_azure.execute("DROP TABLE IF EXISTS lumiere1")
cursor_azure.execute(""" 
    CREATE TABLE lumiere1(
        date DATE PRIMARY KEY,
        cloud FLOAT NOT NULL,
        sun FLOAT NOT NULL
    )
""")

cursor_azure.execute("DROP TABLE IF EXISTS objets_trouves1")
cursor_azure.execute(""" 
    CREATE TABLE objets_trouves1(
        id INT PRIMARY KEY IDENTITY(1,1),
        date TEXT,
        type VARCHAR(25) NOT NULL,
        gare VARCHAR(25) NOT NULL,
        poids_pondere FLOAT
    )
""")

cursor_azure.execute("DROP TABLE IF EXISTS frequentation1")
cursor_azure.execute(""" 
    CREATE TABLE frequentation1(
        id INT PRIMARY KEY IDENTITY(1,1),
        gare TEXT ,
        frequent_2021 INT NOT NULL,
        frequent_2022 INT NOT NULL,
        frequent_2023 INT NOT NULL
    )
""")


conn_azure.commit()


conn_azure.close()

OperationalError: ('HYT00', '[HYT00] [Microsoft][ODBC Driver 18 for SQL Server]Login timeout expired (0) (SQLDriverConnect)')

# insertion des données dans Azure SQL database depuis la base de données sqlite

In [ ]:
import pyodbc


# Obtenir le répertoire actuel
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere.db')
# Connexion à la base de données SQLite
conn_sqlite = sqlite3.connect(chemin_bdd)
cursor_sqlite = conn_sqlite.cursor()

print(f"Connexion réussie à la base de données SQLite à l'emplacement : {chemin_bdd}")

# Connexion à la base de données Azure SQL via pyodbc
conn_str = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER=rg-devries-serveur.database.windows.net;DATABASE=luminosite-devries;UID=manu21;PWD=*Servor1'
conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()

print("Connexion réussie à la base de données Azure.")




# --- Extraire les données des tables locales ---

# Extraire les données de la table 'lumiere' depuis bdd_pondere.db
cursor_sqlite.execute("SELECT * FROM lumiere")
lumiere_data = cursor_sqlite.fetchall()

# Extraire les données de la table 'frequentation' depuis bdd_pondere.db
cursor_sqlite.execute("SELECT * FROM frequentation")
frequentation_data = cursor_sqlite.fetchall()

# Extraire les données de la table 'objets_trouves' depuis bdd_pondere.db
cursor_sqlite.execute("SELECT * FROM objets_trouves")
objets_data = cursor_sqlite.fetchall()

# --- Insertion des données dans les tables Azure ---

# Insérer les données dans la table 'lumiere9' d'Azure
for row in lumiere_data:
    cursor_azure.execute("INSERT INTO lumiere1 (date, cloud, sun) VALUES (?, ?, ?)", row[:3])
print("import luz ok")
# Insérer les données dans la table 'frequentation9' d'Azure
for row in frequentation_data:
    cursor_azure.execute("INSERT INTO frequentation1 (gare, frequent_2021, frequent_2022, frequent_2023) VALUES (?, ?, ?, ?)", row[:4])
print("import frequentation ok")
# Insérer les données dans la table 'objets_trouves9' d'Azure
n=1
for row in objets_data:
    cursor_azure.execute("INSERT INTO objets_trouves1 (date, type, gare, poids_pondere) VALUES (?, ?, ?, ?)", row[1:5])
    print(n)
    n=n+1
# Commit les transactions sur Azure
conn_azure.commit()

# --- Fermer les connexions ---
conn_sqlite.close()
conn_azure.close()

print("Données insérées avec succès dans la base de données Azure.")

In [ ]:
conn_update = sqlite3.connect(chezzzzmin_bdd_source)

# Mettre à jour le champ 'poids_pondere' dans la table existante
for index, row in df_objets1.iterrows():
    poids = row['poids_pondere']
    nom_gare = row['nom_gare']
    date = row['date']

    # Mettre à jour le poids pondéré dans la base de données
    conn_update.execute("""
        UPDATE objets_trouves 
        SET poids_pondere = ?
        WHERE nom_gare = ? AND date = ?
    """, (poids, nom_gare, date))

# Valider les changements
conn_update.commit()

# Fermer la connexion
conn_update.close()

print("Les poids ont été mis à jour dans la base de données avec succès.")

NameError: name 'df_objets1' is not defined

In [ ]:
import pyodbc


conn_str = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER=rg-devries-serveur.database.windows.net;DATABASE=luminosite-devries;UID=manu21;PWD=*Servor1'
conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()

chemin_bdd_source = os.path.join(os.getcwd(), 'bdd_luminosite11.db')
conn_source = sqlite3.connect(chemin_bdd_source)

# Charger les données de la table 'lumiere' dans un DataFrame
df_lumiere = pd.read_sql_query("SELECT * FROM lumiere", conn_source)

# Charger les données de la table 'objets_trouves' dans un DataFrame
df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn_source)

# Fermer la connexion SQLite
conn_source.close()

# Étape 1 : Création des tables dans la base de données Azure
cursor_azure.execute("DROP TABLE IF EXISTS lumiere")
cursor_azure.execute(""" 
    CREATE TABLE lumiere(
        date DATE PRIMARY KEY,
        cloud FLOAT NOT NULL,
        sun FLOAT NOT NULL
    )
""")

cursor_azure.execute("DROP TABLE IF EXISTS objets_trouves")

In [ ]:
import pyodbc


conn_str = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER=rg-devries-serveur.database.windows.net;DATABASE=luminosite-devries;UID=manu21;PWD=*Servor1'
conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()





conn_azure = pyodbc.connect(conn_str)
cursor_azure = conn_azure.cursor()


cursor = conn_azure.cursor()

for index, row in df_objets.iterrows():
    cursor.execute("""
        INSERT INTO objets_trouves (date, type, nom_gare, poids_pondere) 
        VALUES (?, ?, ?, ?)
    """, (row['date'], row['type'], row['nom_gare'], row['poids_pondere']))

# Commit les changements et fermer la connexion
conn_azure.commit()
cursor.close()
conn_azure.close()

print("Les données ont été insérées avec succès dans la base de données Azure.")

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC Driver 18 for SQL Server][SQL Server]Invalid object name 'objets_trouves'. (208) (SQLExecDirectW)")

# ajout champ date

In [ ]:
import os
import sqlite3
import pandas as pd

# Obtenir le répertoire du script actuel
repertoire_script = os.getcwd()

# Définir le chemin pour la base de données
chemin_bdd = os.path.join(repertoire_script, 'bdd_pondere6.db')

# Connexion à la base de données
connexion = sqlite3.connect(chemin_bdd)

# Charger les données de la table 'objets_trouves' dans un DataFrame
df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", connexion)

# Afficher les premières lignes pour vérification
print("Avant ajout de la colonne année :")
print(df_objets.head())

# Convertir les dates en datetime pour extraire l'année
df_objets['date'] = pd.to_datetime(df_objets['date'])  # Conversion de la colonne date
df_objets['année'] = df_objets['date'].dt.year          # Extraction de l'année

# Afficher les premières lignes après ajout de la colonne année
print("\nAprès ajout de la colonne année :")
print(df_objets.head())

# Mettre à jour la table 'objets_trouves' dans la base de données avec la nouvelle colonne
df_objets.to_sql('objets_trouves', connexion, if_exists='replace', index=False)

# Fermer la connexion
connexion.close()

print("Colonne 'année' ajoutée avec succès à la table 'objets_trouves'.")

Avant ajout de la colonne année :
Empty DataFrame
Columns: [id, date, type, nom_gare, poids_pondere, année]
Index: []

Après ajout de la colonne année :
Empty DataFrame
Columns: [id, date, type, nom_gare, poids_pondere, année]
Index: []
Colonne 'année' ajoutée avec succès à la table 'objets_trouves'.

In [ ]:
import os
import sqlite3
import pandas as pd

# Obtenir le répertoire du script actuel
repertoire_script = os.getcwd()

# Définir les chemins pour les bases de données
chemin_bdd_source = os.path.join(repertoire_script, 'bdd_luminosite7.db')
chemin_bdd_pondere = os.path.join(repertoire_script, 'bdd_pondere7.db')

# Connexion à la base de données source
conn_source = sqlite3.connect(chemin_bdd_source)

# Charger les données de la table 'frequentation' dans un DataFrame
df_frequentation = pd.read_sql_query("SELECT * FROM frequentation", conn_source)

# Charger les données de la table 'objets_trouves' dans un DataFrame
df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn_source)

# Fermer la connexion après la lecture
conn_source.close()

# Convertir les dates en années pour correspondre avec les données de fréquentation
df_objets['date'] = pd.to_datetime(df_objets['date'])                                                  
df_objets['année'] = df_objets['date'].dt.year

# Fusionner les données de fréquentation avec les données d'objets
df_merged = pd.merge(df_objets, df_frequentation, on='nom_gare', how='left')  # fusion des 2 df objets_trouves et frequentation

# Calculer la valeur minimale de la fréquentation de 2021
frequent_min_2021 = df_frequentation['frequent_2021'].min()

# Ajouter une colonne de comptage normalisé en fonction de l'année
df_merged['poids_pondere'] = df_merged.apply(
    lambda row: frequent_min_2021 / row[f'frequent_{row["année"]}'] if row[f'frequent_{row["année"]}'] > 0 else 0, 
    axis=1
)

# Réorganiser les colonnes pour correspondre avec la structure de la table cible
df_final = df_merged[['date', 'type', 'nom_gare', 'poids_pondere']]

# Connexion à la base de données cible
conn_pondere = sqlite3.connect(chemin_bdd_pondere)

# Insérer les données dans la table 'objets_trouves' de la base de données cible
df_final.to_sql('objets_trouves', conn_pondere, if_exists='replace', index=False)

# Fermer la connexion
conn_pondere.close()

print("Les données ont été pondérées et sauvegardées dans 'bdd_pondere6.db' avec succès.")

Les données ont été pondérées et sauvegardées dans 'bdd_pondere6.db' avec succès.

In [ ]:

# Obtenir le répertoire du script actuel
repertoire_actuel = os.getcwd()

# Définir le chemin pour la base de données (dans le répertoire actuel)
chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere7.db')

# Connexion à la base de données SQLite
connexion = sqlite3.connect(chemin_bdd)

# Charger la table objets_trouves uniquement pour l'année 2022
def load_objets_trouves_2022():
    return pd.read_sql_query("SELECT * FROM objets_trouves WHERE date LIKE '2022%'", connexion)

# Afficher les lignes de 2022 de la table objets_trouves
objets_trouves_2022 = load_objets_trouves_2022()
print(objets_trouves_2022)  # Affiche toutes les lignes de 2022

# Fermer la connexion
connexion.close()

                      date          type            nom_gare  poids_pondere
0      2022-01-01 00:00:00       papiers  Paris Gare de Lyon       0.029485
1      2022-01-01 00:00:00           clé  Paris Gare de Lyon       0.029485
2      2022-01-01 00:00:00  electronique  Paris Gare de Lyon       0.029485
3      2022-01-01 00:00:00       bagages  Paris Gare de Lyon       0.029485
4      2022-01-01 00:00:00       bagages  Paris Gare de Lyon       0.029485
...                    ...           ...                 ...            ...
16862  2022-12-27 00:00:00       bagages         Paris Bercy       0.000000
16863  2022-12-27 00:00:00       bagages         Paris Bercy       0.000000
16864  2022-12-27 00:00:00           clé         Paris Bercy       0.000000
16865  2022-12-28 00:00:00       bagages         Paris Bercy       0.000000
16866  2022-12-30 00:00:00        divers         Paris Bercy       0.000000

[16867 rows x 4 columns]

In [ ]:
# import sqlite3

# # Connexion à la base de données
# conn = sqlite3.connect('bdd_luminosite.db')

# # Créer un curseur
# curseur = conn.cursor()


#     # Insérer les données dans la table 'lumiere'
# for index, row in meteo.iterrows():
#     curseur.execute("INSERT INTO lumiere (date, cloud, sun) VALUES (?, ?, ?)", 
#                     (row['DATE'], row['CLOUDCOVER_AVG_PERCENT'], row['SUNHOUR']))

# # Insérer les données dans la table 'frequentation'
# for index, row in frequentation.iterrows():
#     curseur.execute("INSERT INTO frequentation (nom_gare, frequent_2021, frequent_2022, frequent_2023) VALUES (?, ?, ?, ?)", 
#                     (row['gare'], row['frequent_2021'], row['frequent_2022'], row['frequent_2023']))

# # Insérer les données dans la table 'objets_trouves'
# for index, row in objets.iterrows():
#     curseur.execute("INSERT INTO objets_trouves (date, type, nom_gare) VALUES (?, ?, ?)", 
#                     (row['date'], row['type'], row['gare']))

# # Valider toutes les transactions en une fois
# conn.commit() 


#     # Fermer la connexion
# conn.close()

# print("Données insérées avec succès dans la base de données.")

# normalisation des données

In [ ]:
objets.head(30)

          date          type                gare
0   2021-01-01       bagages  Paris Gare de Lyon
1   2021-01-02       bagages  Paris Gare de Lyon
2   2021-01-02       bagages  Paris Gare de Lyon
3   2021-01-02           clé  Paris Gare de Lyon
4   2021-01-02       bagages  Paris Gare de Lyon
5   2021-01-02       bagages  Paris Gare de Lyon
6   2021-01-02  electronique  Paris Gare de Lyon
7   2021-01-02       bagages  Paris Gare de Lyon
8   2021-01-02       bagages  Paris Gare de Lyon
9   2021-01-02       bagages  Paris Gare de Lyon
10  2021-01-02  electronique  Paris Gare de Lyon
11  2021-01-02  electronique  Paris Gare de Lyon
12  2021-01-02  electronique  Paris Gare de Lyon
13  2021-01-02  electronique  Paris Gare de Lyon
14  2021-01-02       bagages  Paris Gare de Lyon
15  2021-01-03       bagages  Paris Gare de Lyon
16  2021-01-03       médical  Paris Gare de Lyon
17  2021-01-03       bagages  Paris Gare de Lyon
18  2021-01-03       bagages  Paris Gare de Lyon
19  2021-01-04       bagages  Paris Gare de Lyon
20  2021-01-04  electronique  Paris Gare de Lyon
21  2021-01-05       bagages  Paris Gare de Lyon
22  2021-01-05           clé  Paris Gare de Lyon
23  2021-01-05       papiers  Paris Gare de Lyon
24  2021-01-05       papiers  Paris Gare de Lyon
25  2021-01-05       papiers  Paris Gare de Lyon
26  2021-01-05           clé  Paris Gare de Lyon
27  2021-01-05           clé  Paris Gare de Lyon
28  2021-01-05           clé  Paris Gare de Lyon
29  2021-01-05           clé  Paris Gare de Lyon

In [ ]:
frequentation.head(10)

   Unnamed: 0                gare  frequent_2021  frequent_2022  frequent_2023
0           0  Paris Gare de Lyon      189125448      231360748      251046517
1           1  Paris Montparnasse       92442771      128082169      145228277
2           2  Paris Gare du Nord      275838875      451647681      482925909
3           3           Paris Est       62800592       83197515       90216815
4           4  Paris Saint-Lazare      213505115      240124708      241391780
5           5    Paris Austerlitz       45096165       39824989       44259883
6           6         Paris Bercy        6821651        9710201       10340177

# good insertion poids_pondéré

In [ ]:
# import os
# import sqlite3
# import pandas as pd

# # Obtenir le répertoire du script actuel
# repertoire_actuel = os.getcwd()

# # Définir le chemin pour la base de données (dans le répertoire actuel)
# chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere4.db')

# # Connexion à la base de données SQLite
# connexion = sqlite3.connect(chemin_bdd)
# curseur = connexion.cursor()

# # Charger les objets trouvés
# def load_objets_trouves():
#     return pd.read_sql_query("SELECT * FROM objets_trouves", connexion)

# # Charger la fréquentation
# def load_frequentation():
#     return pd.read_sql_query("SELECT * FROM frequentation", connexion)

# # Calculer les poids pondérés
# def calculate_weights(objets_trouves, frequentation):
#     # Convertir le champ date en datetime pour extraire l'année
#     objets_trouves['date'] = pd.to_datetime(objets_trouves['date'])
#     objets_trouves['annee'] = objets_trouves['date'].dt.year

#     # Créer un DataFrame de la fréquentation avec un format "long"
#     frequentation_long = frequentation.melt(id_vars=['nom_gare'], 
#                                              value_vars=['frequent_2021', 'frequent_2022', 'frequent_2023'], 
#                                              var_name='annee', 
#                                              value_name='frequentation')

#     # Mapper les années dans le DataFrame
#     frequentation_long['annee'] = frequentation_long['annee'].str.extract('(\d+)').astype(int)

#     # Fusionner les données d'objets trouvés avec la fréquentation
#     merged_data = pd.merge(objets_trouves, frequentation_long, left_on=['nom_gare', 'annee'], right_on=['nom_gare', 'annee'], how='left')

#     # Calculer la fréquentation minimale de 2021
#     frequence_min_2021 = frequentation_long[frequentation_long['annee'] == 2021]['frequent'].min()

#     # Calculer le poids en utilisant la formule donnée
#     merged_data['poids_pondere'] = frequence_min_2021 / merged_data['frequentation']

#     # Remplacer les infinis et NaN par 0
#     merged_data['poids_pondere'] = merged_data['poids_pondere'].replace([float('inf'), -float('inf')], 0)
#     merged_data['poids_pondere'] = merged_data['poids_pondere'].fillna(0)

#     return merged_data

# # Insérer les résultats dans la table 'objets_trouves'
# def insert_weights(merged_data):
#     for _, row in merged_data.iterrows():
#         curseur.execute("""
#             UPDATE objets_trouves 
#             SET poids_pondere = ? 
#             WHERE date = ? AND nom_gare = ?
#         """, (row['poids_pondere'], row['date'].strftime('%Y-%m-%d'), row['nom_gare']))

#     # Commit les changements
#     connexion.commit()

# # Main Function
# def main():
#     objets_trouves = load_objets_trouves()
#     frequentation = load_frequentation()
    
#     # Calculer les poids
#     results = calculate_weights(objets_trouves, frequentation)

#     # Insérer les poids dans la table objets_trouves
#     insert_weights(results)

#     print("Poids pondérés insérés avec succès.")

# # Exécution du script
# if __name__ == "__main__":
#     main()

# # Fermer la connexion
connexion.close()

In [ ]:
# import os
# import sqlite3
# import pandas as pd

# # Obtenir le répertoire du script actuel
# repertoire_actuel = os.getcwd()

# # Définir le chemin pour la base de données (dans le répertoire actuel)
# chemin_bdd = os.path.join(repertoire_actuel, 'bdd_pondere3.db')

# # Connexion à la base de données SQLite
# connexion = sqlite3.connect(chemin_bdd)

# # Charger la table objets_trouves uniquement pour l'année 2022
# def load_objets_trouves_2022():
#     return pd.read_sql_query("SELECT * FROM objets_trouves WHERE date LIKE '2022%'", connexion)

# # Afficher les lignes de 2022 de la table objets_trouves
# objets_trouves_2022 = load_objets_trouves_2022()
# print(objets_trouves_2022)  # Affiche toutes les lignes de 2022

# # Fermer la connexion
# connexion.close()
# connexion.close()

In [ ]:
# import pandas as pd
# import sqlite3
# import os

# # Obtenir le répertoire du script et construire le chemin pour la base de données
# repertoire_script = os.getcwd()  # Obtenir le répertoire de travail courant
# chemin_bdd = os.path.join(repertoire_script, 'bdd_luminosite.db')

# # Créer une connexion à la base de données
# conn = sqlite3.connect(chemin_bdd)

# # Charger les données de la table 'frequentation' dans un DataFrame
# df_frequentation = pd.read_sql_query("SELECT * FROM frequentation", conn)

# # Charger les données de la table 'objets_trouves' dans un DataFrame
# df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn)

# # Fermer la connexion après la lecture
# conn.close()

# # Normaliser les données de fréquentation
# # Référence de fréquentation la plus faible pour 2021
# frequentation_min = df_frequentation['frequent_2021'].min()

# # Ajouter un champ de comptage normalisé pour chaque année
# df_frequentation['frequent_2021_norm'] = frequentation_min /df_frequentation['frequent_2021'] 
# df_frequentation['frequent_2022_norm'] = frequentation_min /df_frequentation['frequent_2022'] 
# df_frequentation['frequent_2023_norm'] = frequentation_min /df_frequentation['frequent_2023'] 

# # Convertir les dates en années pour correspondre avec les données de fréquentation
# df_objets['date'] = pd.to_datetime(df_objets['date'])
# df_objets['année'] = df_objets['date'].dt.year

# # Fusionner les données de fréquentation avec les données d'objets
# df_merged = pd.merge(df_objets, df_frequentation, left_on='nom_gare', right_on='nom_gare')

# # Ajouter la colonne de comptage normalisé en fonction de l'année
# df_merged['comptage_normalisé'] = df_merged.apply(
#     lambda row: row[f'frequent_{row["année"]}_norm'], axis=1
# )

# # Calculer la somme des comptages normalisés pour chaque date
# df_normalized = df_merged.groupby('date').agg({'comptage_normalisé': 'sum'}).reset_index()
# df_normalized.rename(columns={'comptage_normalisé': 'comptage_normalisé_total'}, inplace=True)

# # Fusionner avec le DataFrame des objets
# df_final = pd.merge(df_merged, df_normalized, on='date')

# # Exporter les résultats dans un fichier CSV
# df_final.to_csv('objets_trouves_normalises.csv', index=False)

# print("Les données ont été normalisées et sauvegardées avec succès.")

In [ ]:
import pandas as pd
import sqlite3
import os

# Obtenir le répertoire du script et construire le chemin pour la base de données
repertoire_script = os.getcwd()  # Obtenir le répertoire de travail courant
chemin_bdd = os.path.join(repertoire_script, 'bdd_luminosite.db')

# Créer une connexion à la base de données
conn = sqlite3.connect(chemin_bdd)

# Charger les données de la table 'frequentation' dans un DataFrame
df_frequentation = pd.read_sql_query("SELECT * FROM frequentation", conn)

# Charger les données de la table 'objets_trouves' dans un DataFrame
df_objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn)

# Fermer la connexion après la lecture
conn.close()

# Convertir les dates en années pour correspondre avec les données de fréquentation
df_objets['date'] = pd.to_datetime(df_objets['date'])
df_objets['année'] = df_objets['date'].dt.year

# Fusionner les données de fréquentation avec les données d'objets
df_merged = pd.merge(df_objets, df_frequentation, left_on='nom_gare', right_on='nom_gare')

# Ajouter une colonne de comptage normalisé en fonction de l'année
df_merged['frequent_norm'] = df_merged.apply(
    lambda row:  df_frequentation['frequent_2021'].min()/row[f'frequent_{row["année"]}'], axis=1
)
print(df_frequentation['frequent_2021'].min())
print(df_frequentation['frequent_2023'].max())
# Calculer la pondération pour chaque objet
df_merged['comptage_normalisé'] = df_merged['frequent_norm'].round(2)

# Réorganiser les colonnes
df_final = df_merged[['date', 'type', 'nom_gare', 'comptage_normalisé']]

# Exporter les résultats dans un fichier CSV
df_final.to_csv('objets_trouves_ponderes.csv', index=False)

print("Les données ont été pondérées et sauvegardées avec succès.")

6821651
482925909
Les données ont été pondérées et sauvegardées avec succès.

In [ ]:
frequentation.head()

   Unnamed: 0                gare  frequent_2021  frequent_2022  frequent_2023
0           0  Paris Gare de Lyon      189125448      231360748      251046517
1           1  Paris Montparnasse       92442771      128082169      145228277
2           2  Paris Gare du Nord      275838875      451647681      482925909
3           3           Paris Est       62800592       83197515       90216815
4           4  Paris Saint-Lazare      213505115      240124708      241391780

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('bdd_luminosite.db')

# Load data from the database
objets = pd.read_sql_query("SELECT * FROM objets_trouves", conn)
frequentation = pd.read_sql_query("SELECT * FROM frequentation", conn)

# Close the connection
conn.close()

# Convert 'date' column in objets to datetime format
objets['date'] = pd.to_datetime(objets['date'])

# Add year column to objets
objets['year'] = objets['date'].dt.year

# Define a function to calculate normalized count
def calculate_normalized_count(row, frequentation_df):
    year = row['year']
    gare = row['nom_gare']
    
    # Get the frequentation for the gare and year
    gare_frequentation = frequentation_df[
        (frequentation_df['nom_gare'] == gare)
    ]
    
    if gare_frequentation.empty:
        return None
    
    # Select the column for the correct year
    frequentation_column = f'frequent_{year}'
    
    # Ensure the column exists in the DataFrame
    if frequentation_column not in gare_frequentation.columns:
        return None
    
    gare_frequentation_value = gare_frequentation.iloc[0][frequentation_column]
    
    # Get the minimum frequentation value for normalization
    min_frequentation_value = frequentation_df[[col for col in frequentation_df.columns if col.startswith('frequent_')]].min().min()  # Minimum of all frequentations
    
    return gare_frequentation_value / min_frequentation_value

# Apply the function to calculate the normalized count
objets['comptage_normalise'] = objets.apply(lambda row: calculate_normalized_count(row, frequentation), axis=1)

# Save the updated DataFrame to a CSV file
csv_filename = 'objets_trouves_normalises11.csv'
objets.to_csv(csv_filename, index=False)

print(f"Data saved to {csv_filename}")

Data saved to objets_trouves_normalises11.csv

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('bdd_luminosite.db')
curseur = conn.cursor()

# Function to count rows in a table
def count_rows(table_name):
    curseur.execute(f"SELECT COUNT(*) FROM {table_name}")
    count = curseur.fetchone()[0]
    return count

# List of tables to check
tables = ['frequentation', 'lumiere', 'objets_trouves']

# Count rows in each table
for table in tables:
    row_count = count_rows(table)
    print(f"Table {table} has {row_count} rows.")

# Close the connection
conn.close()

Table frequentation has 7 rows.
Table lumiere has 1095 rows.
Table objets_trouves has 46326 rows.

In [ ]:
obj_new=pd.read_csv("objets_trouves_ponderes.csv")
obj_new.head()

         date     type            nom_gare  comptage_normalisé
0  2021-01-01  bagages  Paris Gare de Lyon                0.04
1  2021-01-02  bagages  Paris Gare de Lyon                0.04
2  2021-01-02  bagages  Paris Gare de Lyon                0.04
3  2021-01-02      clé  Paris Gare de Lyon                0.04
4  2021-01-02  bagages  Paris Gare de Lyon                0.04