In [13]:
import pandas as pd


objets= pd.read_csv("../../../csv_modélisé/objets_trouves.csv")

In [14]:
objets.columns

Index(['date', 'type', 'gare'], dtype='object')

# garder 10 premiers caractéres des lignes date

In [16]:
objets['date'] = objets['date'].str[:10]
# va permettre d'avoir un format de date commun à la table météo
objets.head()

         date                                 type                gare
0  2021-12-31  Bagagerie: sacs, valises, cartables  Paris Gare de Lyon